/*----------------------------------------------------------------- COMMON------------------------------------------------------------------------ */

* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

:root {
  --black-color: #212121;
  --dark-text-color: #000000;
  --white-text-color: #ffffff;
  --blue-color: #2196f3;
  --grey-color: #757575;
  --background-dark-color: #2f303a;
  --background-white-color: rgb(100%, 100%, 100%, 60%);
  --background-light-color: #f5f4fa;
  --button-active-color: #188ce8;
  --line-color: #ececec;
  --hero-bg-color: #c4c4c4;
  --icon-grey-color: #afb1b8;
  --gradient: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));
  --white-transparent-color: rgba(255, 255, 255, 0.1);
  --bg-transparent-color: rgba(47, 48, 58, 0.8);
  --bg-transparent-blue: rgba(33, 150, 243, 0.9);
  --backdrop-bg-color: rgba(0, 0, 0, 0.2);
  --border-modal-btn: rgba(0, 0, 0, 0.1);
  --border-input: rgba(33, 33, 33, 0.2);
  --link-condition-color: rgba(33, 150, 243, 1);
  --subscribe-modal-color: rgba(255, 255, 255, 0.3);
  --placeholder-text-color: rgba(255, 255, 255, 0.6);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

address {
  font-style: normal;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--black-color);
  display: block;
  margin: 0 auto;
}

/*----------------------------------------------------------------- CONTAINERS------------------------------------------------------------------------ */

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

/*----------------------------------------------------------------- HEADER------------------------------------------------------------------------ */

.header {
  border-bottom: 1px solid var(--line-color);
}

.header-container {
  display: flex;
  align-items: center;
}

.header-logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.17;
  color: var(--dark-text-color);
  text-decoration: none;
  margin-right: 93px;
  padding: 24px 0 25px 0;
}

.header-web {
  color: var(--blue-color);
}

.header-nav {
  margin-right: auto;
}

.header-nav-list {
  display: flex;
  gap: 50px;
}

.header-nav-link {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.17;
  padding: 32px 0 32px 0;
  color: var(--black-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-nav-link:hover,
.header-nav-link:focus {
  color: var(--blue-color);
}

.header-contacts-list {
  display: flex;
  align-items: center;
  gap: 50px;
}

.header-contacts-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.17;
  color: var(--grey-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contacts-link:hover,
.header-contacts-link:focus {
  color: var(--blue-color);
}

.header-nav-item {
  display: flex;
  position: relative;
}

.current {
  color: var(--blue-color);
}

.current::after {
  content: '';
  color: currentColor;
  border-style: solid;
  display: block;
  width: 100%;
  border-radius: 2px;
  height: 4px;
  bottom: -1px;
  left: 0;
  position: absolute;
}

.header-contacts-item {
  flex-direction: row;
  align-items: stretch;
}

.header-contacts-icon {
  margin-right: 10px;
  fill: currentColor;
}

/*----------------------------------------------------------------- MAIN------------------------------------------------------------------------ */
.section {
  padding: 94px 0 94px 0;
}

.section-projects {
  padding-top: 0;
}

.hero {
  background-color: var(--hero-bg-color);
  background-image: var(--gradient), url(../images/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 200px 0;
  max-width: 1600px;
  margin: 0 auto;
}

.hero-title {
  width: 696px;
  margin: 0 auto;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white-text-color);
  margin-bottom: 30px;
}

.hero-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.9;
  letter-spacing: 0.06em;
  border: none;
  border-radius: 4px;
  margin: 0 auto;
  min-width: 216px;
  height: 50px;
  color: var(--white-text-color);
  background-color: var(--blue-color);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--button-active-color);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-headers {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}

.our-advantages {
  display: flex;
  gap: 30px;
}

.our-advantages-item {
  flex-basis: calc((100% - 90px) / 4);
}

.advantages-card {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  border-radius: 4px;
  width: 270px;
  height: 120px;
  background-color: var(--background-light-color);
}

.advantages-title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  margin-bottom: 10px;
}

.advantages-text {
  font-size: 14px;
  line-height: 1.71;
  color: var(--grey-color);
}

.our-projects {
  display: flex;
  gap: 30px;
}

.our-projects-item {
  flex-basis: calc((100% - 60px) / 3);
  position: relative;
}

.projects-label-wrap {
  width: 370px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-transparent-color);
  position: absolute;
  bottom: 0px;
}

.our-projects-label {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  font-style: normal;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-text-color);
}

.our-team {
  background-color: var(--background-light-color);
}

.our-team-list {
  display: flex;
  gap: 30px;
}

.our-team-item {
  border-radius: 0px 0px 4px 4px;
  background-color: var(--white-text-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team-text-wrap {
  text-align: center;
  padding: 30px 0;
}

.team-employee {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.employee-position {
  font-size: 16px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--grey-color);
  margin-bottom: 16px;
}

.employee-soc-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.employee-soc-item {
  width: 44px;
  height: 44px;
}

.employee-soc-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--white-text-color);
  color: var(--icon-grey-color);
  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.employee-soc-link:hover,
.employee-soc-link:focus {
  background-color: var(--blue-color);
}

.employee-soc-icon {
  fill: currentColor;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.employee-soc-link:hover .employee-soc-icon {
  fill: var(--white-text-color);
}

.employee-soc-link:focus .employee-soc-icon {
  fill: var(--white-text-color);
}

/*----------------------------------------------------------------- CLIENTS------------------------------------------------------------------------ */

.our-clients-list {
  display: flex;
  gap: 30px;
}

.our-clients-item {
  width: 170px;
  height: 92px;
}

.our-clients-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  border: 1px solid var(--icon-grey-color);
  color: var(--icon-grey-color);
  transition-property: color, border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.our-clients-link:hover,
.our-clients-link:focus {
  border-color: var(--blue-color);
}

.our-clients-icon {
  fill: currentColor;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.our-clients-link:hover .our-clients-icon {
  fill: var(--blue-color);
}

.our-clients-link:focus .our-clients-icon {
  fill: var(--blue-color);
}

/*--------------------------------------------- FOOTER------------------------------------------------------------- */

.footer {
  background-color: var(--background-dark-color);
  padding: 60px 0 60px 0;
}

.footer-logo-link {
  text-decoration: none;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.17;
  color: var(--white-text-color);
}

.footer-web {
  color: var(--blue-color);
}

.footer-list {
  margin-top: 20px;
}

.footer-list-item {
  margin-bottom: 9px;
}

.footer-list-item:last-child {
  margin-bottom: 0;
}

.footer-address-link {
  text-decoration: none;
  font-size: 14px;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--white-text-color);
}

.footer-contacts {
  text-decoration: none;
  font-size: 14px;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--background-white-color);
}

.footer-info {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  gap: 70px;
}

.join-to,
.subscribe-to {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: var(--white-text-color);
}

.join-soc-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.join-soc-item {
  width: 44px;
  height: 44px;
}

.join-soc-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--white-transparent-color);
  color: var(--white-text-color);
  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.join-soc-link:hover,
.join-soc-link:focus {
  background-color: var(--blue-color);
}

.join-soc-icon {
  fill: currentColor;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.join-soc-link:hover .join-soc-icon {
  fill: var(--white-text-color);
}

.join-soc-link:focus .join-soc-icon {
  fill: var(--white-text-color);
}

.subscribe-wrap {
  display: flex;
}

.subscribe-input {
  width: 358px;
  height: 50px;
  border-radius: 4px;
  border: 1px solid var(--subscribe-modal-color);
  background-color: transparent;
  color: var(--white-text-color);
  padding-left: 25px;
  margin-right: 12px;
  outline: transparent;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-input:focus {
  border-color: var(--white-text-color);
}

.subscribe-input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--placeholder-text-color);
}

.subscribe-btn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 10px 28px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.9;
  letter-spacing: 0.06em;
  border: none;
  border-radius: 4px;
  margin: 0 auto;
  min-width: 200px;
  height: 50px;
  color: var(--white-text-color);
  background-color: var(--blue-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
}

.subscribe-btn:hover,
.subscribe-btn:focus {
  background-color: var(--button-active-color);
}

.subscribe-icon {
  fill: var(--white-text-color);
  position: absolute;
  right: 28px;
  top: 13px;
}

/*-----------------------------------------BACKDROP---------------------------------------------------------------- */

.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--backdrop-bg-color);
  transition: opacity 300ms linear, visibility 300ms linear;
}

.modal {
  width: 528px;
  min-height: 581px;
  background-color: var(--white-text-color);
  border-radius: 4px;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 300ms linear;
  padding: 40px;
}

.modal-close-btn {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid var(--border-modal-btn);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}

.modal-close-btn:hover {
  fill: var(--blue-color);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.hide {
  display: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.modal-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--black-color);
  margin-bottom: 12px;
}

.modal-field {
  margin-bottom: 10px;
}

.input-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--grey-color);
  display: block;
  position: relative;
  margin-bottom: 4px;
}

.modal-input {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  background-color: transparent;
  padding-left: 35px;
  outline: transparent;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
  border-color: var(--blue-color);
}

.modal-input::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--grey-color);
}

.input-wrap {
  position: relative;
}

.modal-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus + .modal-icon {
  fill: var(--blue-color);
}

.modal-textarea {
  width: 100%;
  height: 120px;
  border: 1px solid var(--border-input);
  background-color: transparent;
  border-radius: 4px;
  padding: 12px 16px;
  resize: none;
  outline: transparent;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea:focus {
  border-color: var(--blue-color);
}

.hide {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
}

.modal-textarea::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--grey-color);
}

.label-agree {
  font-size: 14px;
  color: var(--grey-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.label-agree span {
  width: 16px;
  height: 15px;
  border: 2px solid var(--black-color);
  border-radius: 2px;
  margin-right: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  transition-property: background-color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-check:checked + .label-agree span {
  background-color: var(--blue-color);
  border: none;
  fill: var(--white-text-color);
}

.condition {
  color: var(--link-condition-color);
}

.modal-checkbox {
  margin-top: 10px;
  margin-bottom: 30px;
}

.order-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.9;
  letter-spacing: 0.06em;
  border: none;
  border-radius: 4px;
  margin: 0 auto;
  min-width: 216px;
  height: 50px;
  color: var(--white-text-color);
  background-color: var(--blue-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.order-btn:hover,
.order-btn:focus {
  background-color: var(--button-active-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/*-------------------------------------------- PORTFOLIO----------------------------------------------------- */

.select-btns-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-bottom: 50px;
}

.select-btn {
  font-weight: 500;
  font-size: 16px;
  font-family: 'Roboto', sans serif;
  line-height: 1.6;
  padding: 6px 22px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  background-color: var(--background-light-color);
  color: var(--black-color);
  transition-property: background-color, color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.select-btn:hover {
  background-color: var(--blue-color);
  color: var(--white-text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.select-btn:focus {
  background-color: var(--blue-color);
  color: var(--white-text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.select-project-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.select-project-item {
  width: calc((100% - 60px) / 3);
}

.select-project-link {
  display: block;
  text-decoration: none;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.select-project-link:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.select-project-link:hover .project-text-top {
  transform: translateY(0);
}

.select-project-wrap {
  position: relative;
  overflow: hidden;
}

.project-text-top {
  position: absolute;
  top: 0;
  font-size: 18px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  padding: 63px 24px;
  height: 100%;
  overflow: auto;
  background-color: var(--bg-transparent-blue);
  color: var(--white-text-color);
  transform: translateY(100%);
  transition-property: transform;
  transition-duration: 300ms;
  transition-timing-function: linear;
}

.project-text-wrap {
  text-align: start;
  padding: 20px 24px;
  background-color: var(--white-text-color);
  border-bottom: 1px solid var(--line-color);
  border-right: 1px solid var(--line-color);
  border-left: 1px solid var(--line-color);
}

.project-name {
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--black-color);
}

.project-type {
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: var(--grey-color);
}
